.products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    @include mq(){
        display: block;
    }
}
.product{
    width: calc( 33.3333% - 20px/3);
    margin-right: 10px;
    &:nth-child(3n){
        margin-right: 0;
    }
    @include mq(){
        width: calc( 50% - 5px );
        &:nth-child(3n){
            margin-right: 10px;
        }
        &:nth-child(2n){
            margin-right: 0
        }
    }
    @include mq(sm){
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    img{
        widows: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}