
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include mq(){
        grid-template-columns: 1fr;
    }
}
.service{
    border: solid 1px #565656;
    border-radius: 5px 5px 0 0;
}

.explane{
    padding: 1rem;
    text-align: justify;
}
.thead{
    padding: 1rem;
    background-color: #4C66FF;
    font-weight: bold;
    color: #ffffff;
}
.standard{
    background-color: #0014CE;
}

.content{
    text-align: left;
    height: auto;
    padding:1rem;
    background-color: rgb(217, 255, 0);
}
.init{
    margin: 0 0 0 1rem;
    padding: 0;
}
